@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cascadia Code', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color:  rgb(243, 232, 214);
    user-select: none;
    margin-left: -5px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color:  rgb(243, 232, 214);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background:  rgb(243, 232, 214);
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .35s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}


.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid  rgb(243, 232, 214);
    outline: none;
    border-radius: 6px;
    color:  rgb(243, 232, 214);
    font-size: medium;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.35s;
}

.navigation .btnLogin-popup:hover {
    background:  rgb(243, 232, 214);
    color: #2a2d30;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid  rgb(243, 232, 214);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    
}

.wrapper .form-box {
    width: 100%;
    padding: 50px;
    margin-top: 30px;
}

.form-box h2 {
    font-size: 2em;
    color: rgb(243, 232, 214);
    text-align: center;
}

.form-box form {
    margin-top: 30px;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(243, 232, 214);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(243, 232, 214);
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(243, 232, 214);
}

.input-box  .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(243, 232, 214);
    line-height: 57px;
}